* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.lazy__slide {
    height: 100vh;
}

.lazy__slide div {
    transition: opacity .8s cubic-bezier(.44, .13, .48, .87);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}
