* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slider-wrapper {
    position: relative;
}

.lazy__slide {
    height: 100vh;
    background-image: url("https://keen-slider.io/images/loader.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px;
    background-color: #ccc;
    min-height: auto;
}

@media only screen and (max-width: 600px) {
    .lazy__slide {
        height: 70vh;
    }
}

.lazy__slide div {
    transition: opacity .8s cubic-bezier(.44, .13, .48, .87);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

/*
    Slider dots and arrows
 */

.dots {
    display: flex;
    padding: 10px 0;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 5px;
}

.dot {
    border: none;
    width: 10px;
    height: 10px;
    background: #c5c5c5;
    border-radius: 50%;
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
}

.dot:focus {
    outline: none;
}

.dot--active {
    background: #000;
}

.arrow {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    fill: #fff;
    cursor: pointer;
}

.arrow--left {
    left: 5px;
}

.arrow--right {
    left: auto;
    right: 5px;
}

.arrow--disabled {
    fill: rgba(255, 255, 255, 0.5);
}
